<section id="catalog" class="container mx-auto py-20">
    <h2 class="text-4xl font-extrabold text-center text-red-500 mb-12 drop-shadow-lg">Car Catalog</h2>

    @if (isLoading) {
    <app-loader />
    }@else {

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

        @for (car of cars; track $index) {

        <div class="bg-gray-800 shadow-lg rounded-lg overflow-hidden hover-grow">
            <img src="{{car.imgUrl}}" alt="Car Image" class="w-full h-56 object-cover">
            <div class="p-6">
                <!-- Car Title -->
                <h3 class="text-3xl font-bold text-red-500 mb-4">{{car.make}} {{car.model}}</h3>

                <!-- TODO add price -->
                <!-- Car Details in One Line with Dots -->
                <div class="text-gray-300 text-lg  mb-4">
                    <span>{{car.year}}</span>
                    <span class="mx-2 text-red-500 text-lg">•</span>
                    <span>{{car.mileage}} km</span>
                    <span class="mx-2 text-red-500 text-lg">•</span>
                    <span>{{car.located}}</span>
                </div>

                <!-- Styled Button -->
                <a href="#" class="text-red-500 hover:text-red-400 transition">View Details</a>

                <!-- <div class="text-gray-500 text-sm mt-4">
                    Created on: {{car.created_at}}
                </div> -->
            </div>
        </div>
        }

    </div>

    }
</section>