<nav class="bg-gray-800 shadow-lg">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
        <div class="flex items-center space-x-3">
            <img src="https://st5.depositphotos.com/89086872/76160/v/450/depositphotos_761605016-stock-illustration-car-logo-icon-vector-design.jpg"
                alt="AutoHub Logo" class="h-10 w-10 rounded-full">
            <a routerLink="/"
                class="text-3xl font-extrabold tracking-wide text-red-500 hover:text-red-400 transition">AutoHub</a>
        </div>
        <ul class="flex space-x-8 text-lg">
            <li><a routerLink="/" class="hover:text-red-400 transition">Home</a></li>
            <li><a routerLink="/cars" class="hover:text-red-400 transition">Catalog</a></li>
            <li><a routerLink="/car-create" class="hover:text-red-400 transition">Add</a></li>
            <li><a routerLink="/about" class="hover:text-red-400 transition">About</a></li>
            <li><a routerLink="/contacts" class="hover:text-red-400 transition">Contacts</a></li>
        </ul>
        <div class="flex space-x-4">
            <a routerLink="/login"
                class="bg-gray-700 hover:bg-gray-600 text-white px-4 py-2 rounded-lg shadow-lg transition">Login</a>
            <a routerLink="/register"
                class="bg-gradient-to-r from-red-500 to-red-600 hover:from-red-600 hover:to-red-700 text-white px-4 py-2 rounded-lg shadow-lg transition">Register</a>
        </div>
    </div>
</nav>