<section class="container mx-auto py-20">
    <div class="bg-gray-800 shadow-lg rounded-lg overflow-hidden hover-grow transition transform hover:scale-105">
        <!-- Car Image -->
        <img src={{car.imgUrl}} alt="Car Image" class="w-full h-96 object-cover">

        <div class="p-8">
            <!-- Car Title -->
            <h1 class="text-5xl font-extrabold text-red-500 mb-6">{{car.make}} {{car.model}}</h1>

            <!-- Car Details -->
            <div class="text-lg text-gray-300 space-y-4">
                <p><span class="font-bold text-gray-100">Year:</span> {{car.year}}</p>
                <p><span class="font-bold text-gray-100">Mileage:</span> {{car.mileage}} km</p>
                <p><span class="font-bold text-gray-100">Fuel Type:</span> {{car.fuelType}}</p>
                <p><span class="font-bold text-gray-100">Price:</span> ${{car.price}}</p>
                <p><span class="font-bold text-gray-100">Location:</span> {{car.located}}</p>
                <p><span class="font-bold text-gray-100">Date:</span> {{car.created_at}}</p>
            </div>

            <!-- Like Button -->
            <div class="mt-6 flex items-center space-x-4">
                @if (isLoggedIn) {
                <button
                    class="bg-gradient-to-r from-red-500 to-red-600 hover:from-red-600 hover:to-red-700 text-white px-6 py-2 rounded-lg shadow-lg transition">
                    Like
                </button>
                }
                <p class="text-gray-400">Total Likes: <span class="text-red-500 font-bold">{{car.likes &&
                        car.likes.length ||
                        0}}</span></p>
            </div>

            <div class="mt-12">
                <h2 class="text-3xl font-extrabold text-gray-100 mb-4">Comments</h2>


                <div class="space-y-6 bg-gray-700 rounded-lg p-6 shadow-md">

                    @if (comments) {

                    @for (post of car.posts; track $index) {
                    <div class="flex space-x-4 items-start">
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"
                            alt="User Avatar" class="w-12 h-12 rounded-full shadow-md">
                        <div>
                            <p class="text-gray-100 font-bold">{{post.userId.username}}</p>
                            <p class="text-gray-300">{{post.text}}</p>
                            <p class="text-sm text-gray-500 mt-2">{{post.created_at}}</p>
                        </div>
                    </div>
                    }
                    }@else {
                    <p><span class="font-bold text-gray-100"></span>There are no comments yet.</p>

                    }

                </div>
                <!-- TODO POSTS -->
                @if (isLoggedIn) {

                <div class="mt-10 bg-gray-700 rounded-lg p-6 shadow-md">
                    <h3 class="text-2xl font-extrabold text-gray-100 mb-4">Leave a Comment</h3>
                    <form>
                        <div class="mb-4">
                            <label for="comment-name" class="block text-gray-400 mb-2">Your Name</label>
                            <input type="text" id="comment-name" placeholder="Enter your name"
                                class="w-full px-4 py-2 rounded bg-gray-600 text-gray-100 focus:outline-none focus:ring-2 focus:ring-red-500">
                        </div>
                        <div class="mb-4">
                            <label for="comment-message" class="block text-gray-400 mb-2">Your Comment</label>
                            <textarea id="comment-message" rows="4" placeholder="Enter your comment"
                                class="w-full px-4 py-2 rounded bg-gray-600 text-gray-100 focus:outline-none focus:ring-2 focus:ring-red-500"></textarea>
                        </div>
                        <button type="submit"
                            class="bg-gradient-to-r from-red-500 to-red-600 hover:from-red-600 hover:to-red-700 text-white px-6 py-2 rounded-lg shadow-lg transition">
                            Submit Comment
                        </button>
                    </form>
                </div>
                }


            </div>
        </div>
    </div>
</section>